.resume {
    padding: 4rem 0;

    @media (max-width: 680px) {
        padding: 2rem 1rem;
    }

    &__navigation {
        display: flex;
        justify-content: center;
        margin: 2rem 0;

        @media (max-width: 680px) {
            flex-direction: column;
            margin: 1rem 0;
            width: 100%;
        }

        &__link {
            display: block;
            border: none;
            background: var(--light-gray);
            color: var(--black);
            text-decoration: none;
            font-size: 1.125rem;
            text-transform: uppercase;
            text-align: center;
            padding: 1rem 2rem;
            cursor: pointer;

            &--active, &:hover {
                background: var(--black);
                color: var(--white);
            }

            &--active {
                cursor: default;
            }
        }
    }
    
    &__content {
        max-width: 640px;
        width: 100%;

        &--small {
            font-size: .75rem;
        }

        &--mobile {
            width: 100%;
            .resume__navigation__link {
                width: 100%;
                margin-top: 1rem;
                padding: .5rem;

                &:hover {
                    background: var(--light-gray);
                    color: var(--black);
                    cursor: default;
                }
            }
        }
    }
}