/* oswald-300 - latin */
@font-face {
  font-family: 'Oswald';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/oswald-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Oswald Light'), local('Oswald-Light'),
       url('../../assets/fonts/oswald-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/oswald-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/oswald-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/oswald-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/oswald-v16-latin-300.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/oswald-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Oswald Regular'), local('Oswald-Regular'),
       url('../../assets/fonts/oswald-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/oswald-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/oswald-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/oswald-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/oswald-v16-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}

:root {
  --primary: #D42845;
  --black: #040404;
  --gray: #828282;
  --light-gray: #F0F0F0;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body, h1, h2, h3, h4, h5, p {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--black);
}

h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
}

p {
  font-weight: 300;
  font-size: 1rem;
  color: var(--gray);
  margin-top: .5rem;
}

section {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
}