:root {
  --primary: #D42845;
  --black: #040404;
  --gray: #828282;
  --light-gray: #F0F0F0;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body, h1, h2, h3, h4, h5, p {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--black);
}

h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
}

p {
  font-weight: 300;
  font-size: 1rem;
  color: var(--gray);
  margin-top: .5rem;
}

section {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
}