.intro {
  min-height: 400px;
  overflow: hidden;
  position: relative;
  background: transparent;

  @media (max-width: 540px) {
    min-height: 300px;
  }

  &::before {
      content: ' ';
      filter: grayscale(100%);
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      background: url('../../assets/images/background.jpg') no-repeat center center;
      background-size: cover;
      will-change: transform;
      z-index: -1;
  }

  h1 {
    font-family: "proxima-nova",sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    color: rgba(26,26,26,1);
    text-align: center;

    @media (max-width: 540px) {
      font-size: 3.5rem;
    }
  }

  h2 {
    font-family: "adobe-garamond-pro",serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
    color: rgba(26,26,26,1);;
  }
}

.resume {
  h2 {
    text-align: left;
    margin: 1.5rem auto 0;
    width: 100%;
  }

  p {
    text-align: left;
    line-height: 1em;

    &.small {
      font-size: 0.75rem;
    }
  }

  & > p {
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
